{% load static %}
<!doctype html>
<html lang="en">

<!-- HEAD SECTION -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Richard Murray">
    <!-- Static -->
    <link rel="shortcut icon" href="{% comment %}{% static "insights/img/favicon.ico" %} {% endcomment %}" type="image/x-icon">
    <!-- Animated -->

    <!-- TITLE BLOCK -->
    <title>{% block title %} Graph Vis Home {% endblock title %}</title>
    <!-- DESCRIPTION BLOCK -->
    <meta name="description" content="{% block description %}A demonstration page for various network graphs {% endblock description %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{% static "mathapp/css/cover.css" %}" rel="stylesheet">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- ADDITIONAL STYLES -->
    {% block styles %} {% endblock styles %}

  </head>

<!-- BODY SECTION -->
  <body class="text-center" id="walkthrough-1">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      
      <!-- HEADER SECTION -->
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">{% block masthead %} Graph visualisations {% endblock masthead %}</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{% url "index" %}">Home</a>

            <a class="nav-link" href="about">About</a>
          </nav>
        </div>
      </header>

      <!-- MAIN CONTENT SECTION -->
      <main role="main" class="inner cover">
        {% block content %}
        <h1 class="cover-heading">Richard Murray's Website</h1>
        <p class="lead">Hi there. My name is Richard and I like to build things. This website showcases some of the things I have built.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary" id="walkthrough-2">Learn more</a>
        </p>
        <p class="lead">
          <button href="#" class="btn btn-lg btn-secondary" id="ja">JQuery test</a>
        </p>
        {% endblock content %}
      </main>

      <!-- FOOTER SECTION -->
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Check out my Github page <a href="https://github.com/murenei/">here</a>, and my Kaggle account <a href="https://kaggle.com/arjaymurray">here</a></p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="assets/js/jquery-slim.min.js"><\/script>')</script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

  <!-- ADDITIONAL JS PLUGINS -->
{% block js_plugins %} {% endblock js_plugins %}

  <!-- ADDITIONAL JS SCRIPTS -->
{% block js_scripts %} {% endblock js_scripts %}

</html>

