{% load static %}
<!doctype html>
<html lang="en">

<!-- HEAD SECTION -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Richard Murray">
    <!-- Static -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <!-- Animated -->

    <!-- TITLE BLOCK -->
    <title>{% block title %} RM's Machine Learning Demo Page {% endblock title %}</title>
    <!-- DESCRIPTION BLOCK -->
    <meta name="description" content="{% block description %}A demonstration page for various network graphs {% endblock description %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/album.css' %}" rel="stylesheet">
    <link href="{% static 'css/mdb.css' %}" rel="stylesheet">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- ADDITIONAL STYLES -->
    {% block styles %} {% endblock styles %}

  </head>

<!-- BODY SECTION -->
  <body class="text-center" id="">

    <!-- <div class="cover-container d-flex h-100 p-3 mx-auto flex-column"> -->
    <!-- <div class="container"> -->
      
      <!-- HEADER SECTION -->
    {% block header %}
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'home' %}">Machine Learning Demonstration Apps</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'textapp:spam' %}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Language</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                  <a class="dropdown-item" href="{% url 'textapp:spam' %}">Spam Detection</a>
                  <a class="dropdown-item" href="{% url 'textapp:sentiment' %}">Sentiment Analysis</a>
                  <a class="dropdown-item disabled" href="{% url 'textapp:similarity' %}">Text Similarity</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vision</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                  <a class="dropdown-item disabled" href="#">Cat Identification</a>
                  <a class="dropdown-item disabled" href="#">Recognise Sign Language Hand Signals</a>
                  <a class="dropdown-item disabled" href="#">Object Detection (Vehicles)</a>
                  <a class="dropdown-item" href="{% url 'textapp:detect-faces' %}">Facial Recognition</a>
                  <a class="dropdown-item disabled" href="#">Art/Style Generation</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sound</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                  <a class="dropdown-item disabled" href="#">Trigger Word Detection</a>
                  <a class="dropdown-item disabled" href="#">Speech to Text</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Networks</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                  <a class="dropdown-item disabled" href="#">Link Prediction</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'mathapp:index' %}" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Math</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                  <a class="dropdown-item" href="{% url 'mathapp:index' %}">Equation Generator</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://murenei.github.io" target="_blank">About</a>
              </li>
            </ul>
            <!-- <form class="form-inline my-2 my-md-0">
              <input class="form-control" type="text" placeholder="Search">
            </form> -->
          </div>
        </nav>
        {% endblock header %}

      <!-- MAIN CONTENT SECTION -->
      <!-- CONTENT BLOCK -->
      {% block content %}
      <main role="main">

        <section class="jumbotron text-center">
          <div class="container">
            <h1 class="jumbotron-heading">Welcome!</h1>
            <p class="lead text-muted">This page showcases some machine learning applications I have built in Python. Browse away or click below to get in touch.</p>
            <p>
              <a href="mailto:rick.j.murray@gmail.com" class="btn btn-primary my-2">Contact Me</a>
              <a href="#browse" class="btn btn-secondary my-2">Browse</a>
            </p>
          </div>
        </section>
      </main>
      {% endblock content %}

      <!-- FOOTER SECTION -->
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Check out my Github page <a href="https://github.com/murenei/">here</a>, and my Kaggle account <a href="https://kaggle.com/arjaymurray">here</a></p>
        </div>
      </footer>
    <!-- </div> -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>window.jQuery || document.write('<script src="assets/js/jquery-slim.min.js"><\/script>')</script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- MDB.js -->
    <!-- <script src="static/js/mdb.js"></script> -->
  </body>

  <!-- ADDITIONAL JS PLUGINS -->
{% block js_plugins %} {% endblock js_plugins %}

  <!-- ADDITIONAL JS SCRIPTS -->
{% block js_scripts %} {% endblock js_scripts %}

</html>

