{% extends "mathapp/base.html" %}

<!-- CONTENT BLOCK -->
{% block content %}

<main role="main">

  <section class="jumbotron">
    <div class="container">
      <h1 class="jumbotron-heading">Detect Faces</h1>
      <p class="lead text-muted">This page detects faces in an image upload!</p>
      <p class="lead text-muted">Try it below.</p>
    </div>
  </section>


<div class="album py-5 bg-light" id="browse">
    <div class="container">
        <!-- FORM -->
        <form action="{% url 'textapp:detect-faces' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- END FORM -->
        {% load static %}

        <p>Images will appear here...</p>
        <p>Number of faces detected: {{ num_faces }}</p>

        <div>
            <img src="{% static img_url %}" alt-text="" class="img-thumbnail"/>
        </div>
        <p>Image filename: {{ img_url }}</p>
        <br/>
    </div>
</div>

{% endblock content %}
<!-- END CONTENT BLOCK -->

{% block js_plugins %}
{% endblock js_plugins %}

{% block js_scripts %}

{% endblock js_scripts %}