{% extends "mathapp/base.html" %}

<!-- CONTENT BLOCK -->
{% block content %}

<main role="main">

  <section class="jumbotron">
    <div class="container">
      <h1 class="jumbotron-heading">Spam Detection</h1>
      <p class="lead text-muted">This page identifies a text string as spam or not.</p>
      <p class="lead text-muted">Try it below.</p>
    </div>
  </section>


<div class="album py-5 bg-light" id="browse">
    <div class="container">
        <!-- FORM -->
        <form action="{% url 'textapp:detect-spam' %}" method="post">
        {% csrf_token %}
          <div class="form-group">
            <label for="formControlTextareaSpam">Dump text message text or email body here!!</label>
            <textarea class="form-control" id="formControlTextareaSpam" rows="3" name="spamToDetect"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- END FORM -->
        <br/>
        {% if prediction %}
        <p>{{ prediction }}</p>
        {% else %}
        <p>Spam prediction will appear here</p>
        {% endif %}
    </div>
</div>

{% endblock content %}
<!-- END CONTENT BLOCK -->

{% block js_plugins %}
{% endblock js_plugins %}

{% block js_scripts %}

{% endblock js_scripts %}